@layer base {
  :root {
    --shiki-color-text: theme('colors.white');
    --shiki-token-constant: theme('colors.blue.300');
    --shiki-token-string: theme('colors.orange.300');
    --shiki-token-comment: theme('colors.green.400');
    --shiki-token-keyword: theme('colors.purple.400');
    --shiki-token-parameter: theme('colors.yellow.300');
    --shiki-token-function: theme('colors.blue.400');
    --shiki-token-string-expression: theme('colors.orange.300');
    --shiki-token-punctuation: theme('colors.gray.400');
    --BLUE: #3c3fe7;
  }

  [inert] ::-webkit-scrollbar {
    display: none;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
